{% extends 'app_layout.html' %}
{% load bs_tags %}

{% block title %}
Users Table
{% endblock %}

{% block content %}

    <div class="mb-5">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|bs_danger }}">{{ message }} - {{ message.tags }} - {% bs_now %}</div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <form method="POST" class="form d-table mx-auto" action="{% url 'users.login' %}">
                {% csrf_token %}
                <table>
                    {{ login_form.as_table }}
                </table>
                <div class="d-grid mt-2">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-6">
            <form method="POST" class="form d-table mx-auto" action="{% url 'users.register' %}">
                {% csrf_token %}
                <table>
                    {{ register_form.as_table }}
                </table>
                <div class="d-grid mt-2">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nickname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form method="get" action="{% url 'users.remove' user.id %}">
                        <button class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}